<div class="container">
    <div> <button type="button" class="btn btn-success" (click)="addProduct()">ADD
            Product</button>
        <br>
    </div>
    <div class="row">
        <caption>Our Products</caption>
        <table class="table table-responsive">
            <thead class="table-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">
                        Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">
                        Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of products">
                    <td>{{product.id}}</td>
                    <td>
                        {{product.name}}</td>
                    <td>{{product.description}}</td>
                    <td>
                        <button type="button" class="btn btn-primary"
                            (click)="updateProduct(product.id, product)">Update</button>&nbsp;<button type="button"
                            class="btn btn-success"
                            (click)="loadDetails(product.id, product)">Details</button>&nbsp;<button type="button"
                            class="btn btn-danger" (click)="deleteProduct(product.id)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>