<div class="container">
    <div *ngIf="productexists; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
      <table class="table table-responsive">
        <thead class="bg-primary text-white">
          <tr>
            <th scope="col">Product Details:</th>
          </tr>
        </thead>
        <tbody>
            <tr>
            <td>
                <tr>ID: {{product?.id}}</tr>
                <tr>Name: {{product?.name | uppercase}}</tr>
                <tr>Description: {{product?.description}}</tr>
                <tr>Specification: {{product?.details?.specification}}</tr>
                <tr>Quantity: {{product?.details?.quantity}}</tr>
                <tr>Price: <i class="fa fa-inr" aria-hidden="true"></i>{{product?.details?.price}}</tr>
            </td>
          </tr>
        </tbody>
    </table>
    </ng-template>  
    <ng-template #elseBlock>
      <table class="table table-responsive">
        <thead class="bg-danger text-white">
          <tr>
            <th scope="col">Details:</th>
          </tr>
        </thead>
        <tbody>
            <tr>
            <td>
                Product Does not exist!!
            </td>
          </tr>
        </tbody>
    </table>
    </ng-template>
    <button class="btn btn-primary" (click)="previousPage()">Go Back</button>
  </div>
  
  
  