<div class="row justify-content-center">
    <form class="col-md-6" [formGroup]="productForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="id" class="form-label">ID</label>
            <input type="text" class="form-control" id="id" formControlName="id">
          </div>
        <div class="mb-3">
          <label for="name" class="form-label">Product Name</label>
          <input type="text" class="form-control" id="name" formControlName="name">
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <input type="text" class="form-control" id="description" formControlName="description">
        </div>
        <div formGroupName="details">
            <div class="mb-3" style="display: none;">
                <label for="detailsId" class="form-label">ID</label>
                <input type="text" class="form-control" id="detailsId" formControlName="detailsId">
            </div>
          <div class="mb-3">
              <label for="specification" class="form-label">Specification</label>
              <input type="text" class="form-control" id="specification" formControlName="specification">
          </div>
          <div class="mb-3">
              <label for="quantity" class="form-label">Quantity</label>
              <input type="number" class="form-control" id="quantity" formControlName="quantity">
          </div>
          <div class="mb-3">
              <label for="price" class="form-label">Price( <i class="fa fa-inr" aria-hidden="true"></i> )</label>
              <input type="number" class="form-control" id="price" formControlName="price">
          </div>
      </div>
        <button type="submit" class="btn btn-primary">Update</button>&nbsp;
        <button class="btn btn-primary" (click)="previousPage()">Cancel</button>
      </form>
</div>